* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /*==== Color Palette ====*/

    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-slate-500: hsl(0, 0%, 42%);
    --color-slate-950: hsl(0, 0%, 7%);
    --color-blue: hsl(228, 45%, 44%);
    font-family: "Figtree", sans-serif;
}

body {
    background-color: var(--color-yellow);
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: min(0.93rem, 1rem);
}

main {
    background-color: var(--color-white);
    width: 86%;
    max-width: 26rem;
    height: auto;
    border: 1px solid var(--color-slate-950);
    border-radius: 1rem;
    padding: 1.7rem;
    box-shadow: 0.5rem 0.5rem 0.1rem var(--color-slate-950);
    margin-block-end: 1.5rem;
}

.illustration {
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    margin-block-end: 1rem;
}

.blog-section {
    background-color: var(--color-yellow);
    width: 5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
    margin-block-end: 1rem;
    
}

.date-published {
    font-size: clamp(0.8rem, 5vw, 1rem);
    font-weight: 500;
    margin-block-end: 1.2rem;
}

h1 a {
    color: var(--color-slate-950);
    font-size: 1.4rem;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}


h1 a:hover {
    color: var(--color-yellow);
    transition: color 0.3s ease;
}

.blog-intro {
    font-size: 1rem;
    color: var(--color-slate-500);
    font-weight: 500;
    margin-block-start: 1rem;
    margin-block-end: 1.5rem;
    line-height: 1.5;
}

.author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.7rem;
    margin-block-end: 1.2rem;
}


.author img {
    height: 2rem;
    width: 2rem;
    margin: 0;
}

.author p {
    color: var(--color-slate-950);
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    font-weight: 800;
    margin: 0;
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
}

.attribution a {
    color: var(--color-blue);
}

.attribution a:hover {
    color: var(--color-white);
}


@media (prefers-reduced-motion: reduce) {
   h1 a {
      transition: none;
   }
}


@media  screen and (min-width:48rem) {
    main {
        width: 65%;
        max-width: 32rem;
        height: auto;
        padding: 2rem;
        box-shadow: 0.5rem 0.5rem 0.1rem var(--color-slate-950);
    }

    .illustration {
        border-radius: 0.8rem;
    }


    .date-published {
        font-size: min(1rem, 1.5rem);
        margin-block-end: 1.5rem;
    }

    h1 a {
        font-size: 2rem;
    }

    
    .blog-intro {
        font-size: 1.7rem;
        line-height: 1.5;
        margin-block-start: 1.5rem;
    }

    .author {
      margin-block-end: 1.1rem;
    }

}
    

@media  screen and (min-width:64rem) {
    main {
        width: 50%;
        max-width: 24rem;
        height: auto;
        padding: 1.5rem;
        box-shadow: 0.5rem 0.5rem 0.1rem var(--color-slate-950);
    }   


    .illustration {
        display: block;
        object-fit: contain;
        max-width: 100%;
        height: 50rem;
        height: auto;
        border-radius: 0.6rem;
        margin-block-end: 1rem;
    }

    .blog-section{
        width: 4rem;
        margin-block-end: 0.8rem;
    }

    .date-published {
        font-size: 0.7rem;
        font-weight: 500;
        margin-block-end: 1rem;
    }

    h1 a {
        font-size: 1.45rem;
        font-weight: 800;
    }

    .blog-intro {
        font-size: 1rem;
        line-height: 1.5;
        margin-block-start: 0.8rem;
    }

    .author {
      margin-block-end: 1.2rem;
    }
}
