/* figtree-500 - latin */
@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/figtree-v9-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

/* figtree-800 - latin */
@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/figtree-v9-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-weight: 800;
  font-style: normal;
  font-display: swap; 
}

/*CSS Reset*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    /*==== Color Palette ====*/
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-slate-500: hsl(0, 0%, 42%);
    --color-slate-950: hsl(0, 0%, 7%);
    --color-blue: hsl(228, 45%, 44%);
    --main-font: 'Figtree', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-yellow);
    font-family: var(--main-font);
    font-size: clamp(1rem, 2vw, 1.5rem);
}

main {
    width: 86%;
    max-width: 26rem;
    height: auto;
    background-color: var(--color-white);
    border: 1px solid var(--color-slate-950);
    border-radius: 1rem;
    padding: 1.7rem;
    box-shadow: 0.5rem 0.5rem 0.1rem var(--color-slate-950);
}

.main__illustration {
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    margin-block-end: 1.5rem;
}

.main__tag {
    width: 6rem;
    padding: 0.4rem 0.5rem;
    border-radius: 0.3rem;
    background-color: var(--color-yellow);
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    margin-block-end: 1.2rem;
    
}

.main__date {
    font-size: 0.89rem;
    font-weight: 500;
    margin-block-end: 1.1rem;
}

.main__title--link {
    color: var(--color-slate-950);
    font-size: 1.44rem;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}


.main__title--link:hover {
    color: var(--color-yellow);
    transition: color 0.3s ease;
}

.main__description {
    font-size: 1rem;
    color: var(--color-slate-500);
    font-weight: 500;
    margin-block-start: 1.4rem;
    margin-block-end: 1.7rem;
    line-height: 1.6;
}

.main__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}


.main__author--image {
    height: 3rem;
    width: 3rem;
    margin: 0;
}

.main__author p {
    color: var(--color-slate-950);
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
    margin-block-start: 1.2rem;
}

.attribution__link {
    color: var(--color-blue);
}

.attribution__link:hover {
    color: var(--color-white);
}


@media (prefers-reduced-motion: reduce) {
    .main__title--link {
      transition: none;
   }
}


@media  screen and (min-width:48rem) {
    main {
        width: 60%;
        max-width: 30rem;
        height: auto;
        padding: 2rem;
    }

    .main__illustration {
        border-radius: 0.8rem;
    }


    .main__date {
        font-size: 1rem;
        margin-block-end: 1.5rem;
    }

    .main__title--link {
        font-size: 2rem;
    }

    
    .main__description {
        font-size: 1.7rem;
        line-height: 1.5;
        margin-block-start: 1.5rem;
    }

}
    

@media  screen and (min-width:64rem) {
    main {
        width: 50%;
        max-width: 24rem;
        height: 32.625rem;
        padding: 1.5rem;
    }   

    .main__illustration {
        display: block;
        object-fit: contain;
        max-width: 100%;
        height: 50rem;
        height: auto;
        border-radius: 0.6rem;
        margin-block-end: 1.5rem;
    }

    .main__tag {
        width: 5.2rem;
        padding: 0.3rem 0.4rem;
        font-size: 0.85rem;
        margin-block-end: 1rem;
    }

    .main__date {
        font-size: 0.87rem;
    }

    .main__title {
        margin-block-start: -1.7rem;
    }

    .main__title--link {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .main__description {
        font-size: 1rem;
        margin-block-start: 0.7rem;
    
    }

    .main__author {
        gap: 0.8rem;
        margin-block-start: -0.4rem;
    }

    .main__author--image {
        width: 2rem;
        height: 2rem;
    }

    .main__author p {
        font-size: 0.9rem;
    }
}
